

body {
    background-color: $color-lightgrey;
}

.wrapper {
    padding: 2rem;
}

.home {
    font-family: $sans;
    min-height: calc(100vh - 90px);
    background-image: url('../img/pictures/background.jpg');
    background-size: cover;
    position: relative;
    &__box {
        max-width: 600px;
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        color: $color-white;
        line-height: 1.25;
        text-shadow: 0 0 50px rgba(0,0,0, 1);
        &__name {
            font-weight: bold;
            font-size: 20px;
            color: $color-lightgrey;
        }
    }
}

.secondary {
    background-color: $color-blacky;
    color: $color-white;
    .wrapper {
        @media screen and (min-width: $bp-md) {
            display: grid;
            grid-template-columns: 60% 40%;
            align-items: center;
            width: 100%;
            .illustration {
                justify-self: end;
            }
        }
    }
    
}

.tertiary {
    display: grid;
    justify-items: center;
    min-height: 100vh;
    &__heading {
        align-self: end;
        margin-bottom: 3rem;
    }
    &__img {
        width: 100%;
    }
    &__picture {
        max-width: 25rem;
    }
    &__name {
        color: $color-black;
        font-family: $sans;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-weight: bold;
    }
    &__box {
        width: 17.5rem;
        
        background-color: $color-white;
        box-shadow: 0 20px 80px rgba(0,0,0, .5);
        @media screen and (min-width: $bp-md) {
            display: flex;
            width: 50rem;
            height: 25rem;
        }
        
        &__cta {
            &:link, &:visited {
                font-family: $sans;
                text-transform: uppercase;
                text-decoration: none;
                color: $color-darkgrey;
                font-weight: bold;
                position: relative;
            }
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 2px;
                bottom: -2px;
                left: 0;
                background-color: $color-darkgrey;
                transform-origin: bottom left;
                transition: transform .25s ease-out;
            }
            &:hover::before {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }
        &__text {
            padding: 2rem;
            @media screen and (min-width: $bp-md) {
                padding: 3rem;
            }
            .para {
                margin-bottom: 1rem;
                font-size: .9rem;
            }
        }
    }
    

    &__para {
        color: $color-darkgrey;
    }
}

.popup {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, .7);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visiblity .3s;

    &:target {
        opacity: 1;
        visibility: visible;
    }


    &__close {
        &:link, &:visited {
            position: absolute;
            top: 1rem;
            right: 1.5rem;
            font-size: 3rem;
            text-decoration: none;
            color: $color-black;
            transition: color .2s;
            line-height: 1;
        }
        &:hover, &:active {
            color: $color-main;
        }
        
        
    }

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        max-height: 640px;
        background-color: $color-white;
        max-width: $bp-lg;
        box-shadow: 0 20px 80px rgba(0,0,0, .5);
        display: table;
        overflow: hidden;
        
    }

    &__img {
        display: block;
        width: 100%;
        
    }
    &__heading {
        font-size: 2rem;
    }
    &__right {
        display: table-cell;
        padding: 2rem;
        width: 50%;
        vertical-align: middle;
    }
    &__left {
        display: table-cell;
        width: 50%;
        max-width: 800px;
        vertical-align: middle;
        
    }
    &__para {
        color: $color-darkgrey;
        font-size: .9rem;
        column-gap: 2rem;
        column-count: 2;
        /* hyphens: auto; */
    }
}

.quaternary {
    background-color: $color-blacky;
    color: $color-white;
    &__para {
        max-width: 40ch;
    }
    &__lists {
        display: flex;
        margin: 1rem 0;
        li {
            
            margin-left: 1rem;
        }
        .quaternary__list {
            &--1 {
                li {
                    list-style-type: square;
                }
            }
            &--2 {
                margin-left: 2rem;
            }
        }
    }
    .wrapper {
        @media screen and (min-width: $bp-md) {
            display: grid;
            grid-template-columns: 40% 60%;
            align-items: center;
            width: 100%;
            .illustration {
                display: block;
                justify-self: start;
            }
            .container {
                justify-self: end;
            }
        }
    }
    

    li, p {
        color: $color-lightgrey;
    }
    &__illustration {
        display: none;   
    }
}

.contact {
    font-family: $font-sans;
    font-weight: bold;
    .wrapper {
        @media screen and (min-width: $bp-md) {
            display: grid;
            align-items: center;
            width: 100%;
        }
    }
    &__link {
        display: block;
        &:link, &:visited {
            text-decoration: none;
            color: $color-main;
            transition: color .3s;
        }
        &:hover, &:active {
            color: $color-blacky;
        }
        
        
    }
    &__icon {

        display: inline-block;
        margin-right: 1rem;
    }
}

.footer {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-lightgrey;
    background-color: $color-blacky;
}

.text-big {
    font-size: 1rem;
    @media only screen and (min-width: $bp-md) {
        font-size: 2rem;
    }
}