*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* CSS RESET ---------------- */
/* COMMENTS ---------------- */
/* section margins: 100px-200px, section min-height: 60vh
  full page - grid layout header margin-bototm: 40px */
/* Fonts */
.para {
  max-width: 60ch;
}

.header {
  height: 90px;
  background-color: #12120E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.header__nav {
  margin: 0 auto;
}

.header__nav--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 90vw;
  max-width: 1366px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav__logo {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.header__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav__list__item {
  color: #fff;
  margin-left: 1rem;
  text-transform: capitalize;
  font-size: .8rem;
}

.header__nav__list__link {
  text-decoration: none;
  color: #fff;
  position: relative;
}

.header__nav__list__link::before {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: #fff;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: -webkit-transform .25s ease-out;
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.header__nav__list__link:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.heading {
  font-size: 50px;
  line-height: 1;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 1024px) {
  .heading {
    font-size: 64px;
  }
}

.para, li {
  color: #eee;
}

@media screen and (min-width: 1024px) {
  .para, li {
    font-size: 1.1rem;
  }
}

.cta:link, .cta:visited {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  width: 260px;
  height: 65px;
  background-color: #D90429;
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: background-color .4s;
  transition: background-color .4s;
}

.cta:hover, .cta:active {
  background-color: #12120E;
}

section {
  padding: 7rem 5vw;
  min-height: 60vh;
}

@media screen and (min-width: 1024px) {
  section {
    padding: 7rem 0;
  }
}

.section {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.wrapper {
  display: block;
  max-width: 1366px;
}

.container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.picture {
  display: block;
  max-width: 500px;
}

.illustration {
  margin-top: 2.5rem;
}

body {
  background-color: #eee;
}

.wrapper {
  padding: 2rem;
}

.home {
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  min-height: calc(100vh - 90px);
  background-image: url("../img/pictures/background.jpg");
  background-size: cover;
  position: relative;
}

.home__box {
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  line-height: 1.25;
  text-shadow: 0 0 50px black;
}

.home__box__name {
  font-weight: bold;
  font-size: 20px;
  color: #eee;
}

.secondary {
  background-color: #12120E;
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .secondary .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .secondary .wrapper .illustration {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

.tertiary {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  min-height: 100vh;
}

.tertiary__heading {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-bottom: 3rem;
}

.tertiary__img {
  width: 100%;
}

.tertiary__picture {
  max-width: 25rem;
}

.tertiary__name {
  color: #000;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.tertiary__box {
  width: 17.5rem;
  background-color: #fff;
  -webkit-box-shadow: 0 20px 80px rgba(0, 0, 0, 0.5);
          box-shadow: 0 20px 80px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 1024px) {
  .tertiary__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50rem;
    height: 25rem;
  }
}

.tertiary__box__cta:link, .tertiary__box__cta:visited {
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  position: relative;
}

.tertiary__box__cta::before {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #333;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: -webkit-transform .25s ease-out;
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.tertiary__box__cta:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.tertiary__box__text {
  padding: 2rem;
}

@media screen and (min-width: 1024px) {
  .tertiary__box__text {
    padding: 3rem;
  }
}

.tertiary__box__text .para {
  margin-bottom: 1rem;
  font-size: .9rem;
}

.tertiary__para {
  color: #333;
}

.popup {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s, visiblity .3s;
  transition: opacity .3s, visiblity .3s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup__close:link, .popup__close:visited {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 3rem;
  text-decoration: none;
  color: #000;
  -webkit-transition: color .2s;
  transition: color .2s;
  line-height: 1;
}

.popup__close:hover, .popup__close:active {
  color: #D90429;
}

.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  max-height: 640px;
  background-color: #fff;
  max-width: 1366px;
  -webkit-box-shadow: 0 20px 80px rgba(0, 0, 0, 0.5);
          box-shadow: 0 20px 80px rgba(0, 0, 0, 0.5);
  display: table;
  overflow: hidden;
}

.popup__img {
  display: block;
  width: 100%;
}

.popup__heading {
  font-size: 2rem;
}

.popup__right {
  display: table-cell;
  padding: 2rem;
  width: 50%;
  vertical-align: middle;
}

.popup__left {
  display: table-cell;
  width: 50%;
  max-width: 800px;
  vertical-align: middle;
}

.popup__para {
  color: #333;
  font-size: .9rem;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  -webkit-column-count: 2;
          column-count: 2;
  /* hyphens: auto; */
}

.quaternary {
  background-color: #12120E;
  color: #fff;
}

.quaternary__para {
  max-width: 40ch;
}

.quaternary__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
}

.quaternary__lists li {
  margin-left: 1rem;
}

.quaternary__lists .quaternary__list--1 li {
  list-style-type: square;
}

.quaternary__lists .quaternary__list--2 {
  margin-left: 2rem;
}

@media screen and (min-width: 1024px) {
  .quaternary .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .quaternary .wrapper .illustration {
    display: block;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .quaternary .wrapper .container {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

.quaternary li, .quaternary p {
  color: #eee;
}

.quaternary__illustration {
  display: none;
}

.contact {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .contact .wrapper {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.contact__link {
  display: block;
}

.contact__link:link, .contact__link:visited {
  text-decoration: none;
  color: #D90429;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.contact__link:hover, .contact__link:active {
  color: #12120E;
}

.contact__icon {
  display: inline-block;
  margin-right: 1rem;
}

.footer {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #eee;
  background-color: #12120E;
}

.text-big {
  font-size: 1rem;
}

@media only screen and (min-width: 1024px) {
  .text-big {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=main.css.map */